@import "../../styles/colors.module";

.title {
    margin-top: 150px;
    margin-bottom: 25px;
    font-size: 25px;
}

.container {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 2px 2px 14px $black;
    min-height: 380px;
    text-align: center;
    justify-content: center;
    padding: 30px;
    display: flex;

    .form_container {
        width: 300px;
        .btn_login {
            margin: auto;
            margin-top: 20px;
        }
        .username,
        .password {
            margin-bottom: 15px;
        }
        .username input,
        .password input {
            background-color: $background-gray;
        }
        .link_holder {
            display: block;
            text-align: left;
            font-size: 0.9rem;
        }
    }
}
