@import "../../styles/Variables.module.scss";
@import "../../styles/Colors.module";
@import "../../styles/mixins/mediaQuery.module.scss";
@import "../../styles/mixins/VendorPrefixes.module.scss";

@keyframes spinner-animation {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ownDiv { 
  max-width: 100%;
  justify-content: center;
  align-items: center;

  .ownButton {
    font-family: $Saira-semibold;
    font-size: $fs-sm;
    line-height: $lh-2lg;
    display: inherit;
    flex: inherit;
    max-width: inherit;
    justify-content: center;
    align-items: center;
    padding: 10px 22px;
    border-radius: 10px;
    border: unset;
    cursor: pointer;
    @include transition(background-color, 200ms, ease-in, 0s);

    &:after {
      position: absolute;
      display: flex;
      content: "";
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: $transparent-bg;
      border: solid 2px $dark-blue;
      border-radius: 14px;
      opacity: 0;
      @include transition(all, 200ms, ease-out, 0s);
    }

    &:hover,
    &:active,
    &:focus {
      &:after {
        opacity: 1;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
      }
    }

    .spinner {
      height: 25px;
      width: 90px;
      display: flex;
      align-items: center;

      .dot {
        width: 15px;
        height: 15px;
        margin: 0 7.5px;
        border: 3px solid $dark-blue;
        border-radius: 50%;
        float: left;
        transform: scale(0);
        animation: spinner-animation 1500ms ease infinite 0ms;

        &:nth-child(1) {
          animation-delay: 300ms;
        }

        &:nth-child(2) {
          animation-delay: 600ms;
        }

        &:nth-child(3) {
          animation-delay: 900ms;
        }
      }
    }

    &.ownButtonStyleDefault {
      color: $white;
      background-color: $dark-blue;

      .spinner {
        .dot {
          border-color: $dark-green;
        }
      }

      &.invertFontColorClass {
        color: $white;

        .spinner {
          .dot {
            border-color: $white;
          }
        }
      }

      &:active,
      &:focus {
        &:after {
          border-color: $dark-blue;
        }
      }
    } 
    
    &.small_btn {
      font-size: $fs-xs;
      padding: 10px 20px;
      line-height: $lh-2sm;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:after {
        opacity: 0;
      }

      &:hover,
      &:active,
      &:focus {
        &:after {
          opacity: 0;
        }
      }
    }
  }
}
