/** Theme Colors **/

/** Primary colors **/
$background: #f8fbff;
$transparent-bg: transparent;
$turquoise: #29bfc2; 
$white: #ffffff;
$black: #000; 
$white-light: #f0f0f0;
 
$border-radius: 8px;

/** Secondary colors **/ 
$background-gray: #e9eef2;
$dark-blue: #0a1921; 
$dark-green: #1a4359; 
$dark-gray:#A3A3A3; 

/** Notifications **/
$error: #f87575;
$info: #bbbbbb;
$success: #52df00;
$warning: #ffc145; 
 