/** Font weight **/
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700; 

/** Font size **/
$fs-xxs: 13px;
$fs-xs: 15px;
$fs-sm: 17px;
$fs-md: 24px;
$fs-lg: 32px;
$fs-xl: 40px;

/** Line Height **/
$lh-1sm: 16px;
$lh-1lg: 18px;
$lh-2sm: 20px;
$lh-2lg: 24px;
$lh-3sm: 32px;
$lh-4sm: 40px;
$lh-4lg: 44px;
$lh-5lg: 56px;

/** Font style **/
$fnormal: normal;
$Saira-light: "SairaLight";
$Saira-regular: "SairaRegular";
$Saira-medium: "SairaMedium";
$Saira-semibold: "SairaSemiBold";
$Saira-bold: "SairaBold";