@import "../../styles/variables.module.scss";
@import "../../styles/colors.module";
@import "../../styles/mixins/mediaquery.module.scss";
@import "../../styles/mixins/vendorPrefixes.module.scss";

.corner {
  border: none;
  border-radius: 0px 16px 0px 12px;
  background-color: $white-24;
  height: 28px;
  width: 28px;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;

    &:last-child {
      display: none;
    }
  }

  &:hover {
    img {
      display: none;

      &:last-child {
        display: block;
      }
    }
  }
}

.banner_cards_row {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 10px + $border-radius 0 10px 10px;

  .loading_empty_box {
    max-width: 90%;
    height: 160px;
    margin: 8px 5% 8px calc(5% - 10px);
  }

  .card_spacing {
    margin: 0 10px 10px 0;

    @include respond-above(xs) {
      margin: 0 16px 16px 0;
    }
  }

  .card {
    height: 160px;
    padding: 16px;
    overflow: hidden;
    color: $dark_blue;

    .card_title {
      font-family: $Saira-medium;
      font-size: $fs-xs;
      line-height: $lh-2sm;
    }

    @include respond-above(xl) {
      flex: 1 1 40vw;
    }
  }

  &.layout_one {
    padding: 0;
    width: 100%;

    .loading_empty_box {
      max-width: 92%;
      height: 160px;
      margin: 8px 4% 0;
    }

    & > .card_spacing {
      margin: 16px 8px 0 8px;
    }
  }

  &.loading {
    width: 100%;
    padding-left: 0;
  }

  @include respond-above(xs) {
    padding: 20px + $border-radius 0 16px 16px;
  }

  @include respond-above(sm) {
    justify-content: flex-start;

    .loading_empty_box {
      margin: 0 auto 16px;
      max-width: 350px;
    }

    &.layout_one {
      justify-content: center;

      .loading_empty_box {
        margin: 16px 32px 0 8px;
      }
    }
  }

  @include respond-above(md) {
    padding: 0;
  }

  @include respond-above(lg) {
    &.layout_one {
      .loading_empty_box {
        max-width: 350px;
      }
    }
  }

  @media (min-width: 1366px) {
    &.layout_one {
      justify-content: flex-start;
    }
  }
}

.card_cantidad_creditos {
  .link_holder {
    text-decoration: none;

    .card {
      width: 150px;
      justify-content: space-between;

      .card_title {
        height: 40px;
      }

      .card_body {
        margin-top: 25px;
        font-size: $fs-xl;
        line-height: $lh-4lg;
        font-family: $Saira-semibold;
        display: flex;
        flex-direction: column;

        .footer {
          font-size: $fs-xxs;
          line-height: $lh-1sm;
          font-family: $Saira-medium;
          color: $dark-blue-60;
          margin-top: 4px;
        }
      }
    }

    @include respond-below(md) {
      .card {
        width: 162px;
        height: 154px;
        min-height: 154px;

        .card_body {
          margin-top: 12px;
          font-family: $Saira-bold;
        }
      }
    }
  }
}

.card_tipos_creditos {
  .card {
    width: 184px;

    .card_corner {
      @extend .corner;
    }

    @media (min-width: 565px) and (max-width: 960px) {
      height: 154px;
      min-height: 154px;
    }

    @include respond-below(md) {
      width: 162px;
      height: 156px;
      min-height: 156px;
    }

    .card_title {
      margin-top: -1px;
    }

    .card_body {
      font-family: $Saira-regular;
      font-size: $fs-xxs;
      line-height: $lh-1lg;

      @include respond-below(md) {
        width: 94%;
      }

      .row {
        display: flex;
        margin-top: 8px;
        text-decoration: none;
        color: $dark-blue;

        .left {
          width: 95%;
          flex-wrap: wrap;
          display: flex;
        }

        .right {
          width: 5%;
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          font-family: $Saira-bold;
        }
      }
    }
  }
}

.card_qualification {
  width: 150px;
  .card {
    justify-content: space-between;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    .responsive {
      @include respond-below(md) {
        margin-top: 12px;
        max-width: 130px;
      }
    }

    .card_title {
      height: 40px;
      color: $dark-blue;
    }

    .card_body {
      margin-top: 24px;
      font-size: $fs-xl;
      line-height: $lh-5lg;
      font-family: $Saira-semibold;
      display: flex;
      width: 100%;
      max-width: 110px;

      .box_shadow {
        border: none;
        border-radius: 10px;
        background-color: $white-24;
        width: 100%;

        .box_shadow_text {
          color: $dark-blue;
          display: flex;
          justify-content: space-around;

          &.empty {
            height: 56px;
          }

          .box_shadow_item {
            display: flex;
            align-items: center;
          }
        }
      }

      .face_icon {
        margin-top: -3px;
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
  }
  .responsive {
    @include respond-below(md) {
      width: 162px;
      height: 154px;
      max-height: 154px;
    }
  }

  .card_corner {
    @extend .corner;
  }
}

//montos
.card_montos {
  height: fit-content;

  .card {
    width: 316px;

    @include respond-below(md) {
      width: 340px;
      height: 160px;
    }

    table {
      border-spacing: 0;
      font-size: $fs-xxs;
      color: $dark-blue;
      font-family: $Saira-regular;
      line-height: $lh-1sm;

      tr {
        td {
          padding: 0;

          .image_holder {
            width: 20px;
            height: 20px;
            margin-right: 9px;

            img {
              width: 100%;
            }
          }

          &.right {
            text-align: right;
            font-family: $Saira-bold;
          }

          .hr {
            height: 1px;
            width: 100%;
            background-color: $dark-green-12;
            margin: 16px 0;
          }
        }
      }
    }
  }
}

.card_doble {
  height: fit-content;

  .card_doble_bg {
    width: 316px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;

    @media (min-width: 728px) and (max-width: 959px) {
      max-height: 160px;
    }

    .card {
      width: 134px;
      min-width: 134px;
      height: 100%;
      max-height: 128px;
      flex: auto;
      padding: 12px;
    }

    .card_atraso {
      width: 134px;
      margin: 0;

      .card_title {
        font-family: $Saira-medium;
        font-size: $fs-xs;
        height: 20px;

        .subHeader {
          font-family: $Saira-medium;
          font-size: $fs-xxs;
          color: $dark-blue;
          opacity: 0.6;
        }
      }

      .card_body {
        display: flex;
        flex-wrap: wrap;
        margin-top: 49px;
        font-size: $fs-sm;
        font-family: $Saira-bold;

        .day_count {
          font-size: $fs-md;
        }

        .days {
          margin-top: 8px;
          margin-left: 3px;
        }

        .footer {
          display: flex;
          font-size: $fs-xxs;
          font-family: $Saira-medium;
          color: $dark-blue;
          opacity: 0.6;
          margin-top: -4px;
        }
      }
    }

    .card_primerCredito {
      width: 134px;
      margin: 0;

      .card_title {
        font-family: $Saira-medium;
        font-size: $fs-xs;
        height: 20px;

        .subHeader {
          font-family: $Saira-medium;
          font-size: $fs-xxs;
          color: $dark-blue;
          opacity: 0.6;
        }
      }

      .card_body {
        display: flex;
        flex-wrap: wrap;
        margin-top: 49px;
        font-size: $fs-sm;
        font-family: $Saira-bold;

        .day_count {
          font-size: $fs-md;
        }

        .time {
          margin-top: 8px;
          margin-left: 3px;
        }

        .footer {
          display: flex;
          font-size: $fs-xxs;
          font-family: $Saira-medium;
          color: $dark-blue;
          opacity: 0.6;
          margin-top: -4px;
        }
      }
    }
  }

  @include respond-below(md) {
    width: fit-content;

    .card_doble_bg {
      width: 340px;
      max-height: 154px;

      .card_atraso {
        width: fit-content;
        min-width: fit-content;
      }

      .card_primerCredito {
        width: fit-content;
        min-width: fit-content;
      }

      .card {
        display: flex;
        width: 146px;
        min-width: 146px;
        max-height: 122px;
      }
    }
  }

  @include respond-between(sm, md) {
    .card_doble_bg {
      max-height: 160px;

      .card {
        max-height: 132px;
      }
    }
  }
}

.card_lineas_creditos {
  width: 150px;
  padding-right: 16px;

  @media (min-width: 906px) and (max-width: 959px) {
    height: 160px;
    min-height: 160px;
  }

  .card {
    justify-content: space-between;
    height: 100%;
    max-height: 160px;
    overflow-y: hidden;
    width: 150px;
    min-width: 150px;

    .card_title {
      height: 40px;
    }

    .card_body {
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: 24px;

      .percentage_border {
        border: 3px solid $turquoise;
        border-radius: 22px;
        width: 32px;
        height: 32px;
        opacity: 1;
        display: flex;

        svg {
          margin-left: 2px;
          margin-top: 2px;
        }
      }

      .percentage {
        font-size: $lh-2sm;
        font-family: $Saira-semibold;
        display: flex;
        margin-left: 8px;

        .percent {
          font-size: $fs-xxs;
          margin-top: 2px;
          display: flex;
        }
      }

      .footer {
        display: flex;
        width: 100%;
        font-size: $fs-xxs;
        font-family: $Saira-medium;
        color: $dark-blue;
        opacity: 0.6;
        margin-top: 6px;
      }
    }
  }

  @include respond-below(md) {
    .card {
      width: 162px;
      min-height: 153px;
      height: 153px;
    }
  }

  .card_corner {
    @extend .corner;
  }
}

.card_deuda {
  .green_border {
    border: 2px solid $turquoise-80;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      border: 2px solid $dark-green;
      border-radius: 16px;
      width: 146px;
      height: 156px;
      min-width: 140px;
      min-height: 140px;
      padding: 12px 16px;
      justify-content: space-between;

      .card_corner {
        @extend .corner;
      }

      @media (max-width: 549px) {
        height: 148px;
      }

      @media (min-width: 550px) and (max-width: 712px) {
        height: 151px;
        min-height: 151px;
      }

      @media (min-width: 713px) and (max-width: 959px) {
        height: 146px;
        min-height: 146px;
      }

      .card_body {
        display: flex;
        flex-direction: column;

        .amount {
          font-size: $fs-sm;
          line-height: $lh-2lg;
          font-family: $Saira-bold;
        }

        .footer {
          display: flex;
          font-size: $fs-xxs;
          line-height: $lh-1sm;
          font-family: $Saira-medium;
          color: $dark-blue-60;
          margin-top: 4px;
        }
      }
    }
  }

  @include respond-below(md) {
    .green_border {
      padding: 2px;
      border-radius: 14px;

      .card {
        border: 2px solid $transparent-bg;
        width: 154px;
        border-radius: 12px;

        .card_body {
          margin-top: 34px;
        }
      }
    }
  }
}

.card_sabermas {
  .card {
    justify-content: center;
    width: 162px;
    height: 153px;
    min-height: 153px;
    background: $dark-green-06 0% 0% no-repeat padding-box;
    border: 2px solid $dark-green-24;

    .card_title {
      margin-top: -22px;
      font-size: $fs-xxs;
      font-family: $Saira-semibold;
      color: $dark-green;
    }

    .card_body {
      margin-top: 0;

      div {
        width: 130px;
        height: 44px;

        button {
          margin-top: 35px;
          height: 44px;
          min-width: 130px;
          width: 130px;
          display: inline-block;
          vertical-align: middle;
          justify-content: center;

          div {
            margin-left: 0;
            padding: 0;
            margin-left: -22px;
          }
        }
      }
    }
  }
}

@include respond-below(md) {
  .carousel_buttons {
    display: flex;

    .carousel_button {
      background-color: $dark-green;
      min-width: 89px;
      height: 32px;
      color: $white;
      font-size: $fs-xxs;
      border-radius: 17px;
      text-align: center;
      font-family: $Saira-medium;
      width: fit-content;
      margin-right: 7px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.large {
        width: 136px;
        min-width: 180px;
        margin-right: 18px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        width: max-content;
      }

      &.active {
        border: 2px solid $white;
        font-family: $Saira-semibold;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .resumen_gray_background {
    display: flex;
    width: 100%;
    background: $background-gray 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 32px;
    opacity: 1;
    margin-top: -$border-radius;
    @include fadeIn();

    @include respond-above(md) {
      margin-top: 0;
    }
  }
}
