@import "../../styles/Colors.module";
@import "../../styles/mixins/mediaQuery.module.scss";
@import "../../styles/mixins/VendorPrefixes.module.scss";

.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  align-items: stretch;
  border: none;
  border-radius: 16px;
  overflow-y: auto;
  @include customScrollBar();

  @include respond-above(md) {
    padding: 20px;
  }

  &.colorWhite {
    background-color: $white;
  }

  &.colorTurquoise {
    background-color: $turquoise;
  }
 
  &.colorDarkGreen {
    background-color: $dark-green;
  } 

  &.colorTransparent {
    background-color: $transparent-bg;
  }

  &.colorBgGray {
    background-color: $background-gray;
  } 

  &.colorWarning {
    background-color: $warning;
  }

  &.colorError {
    background-color: $error;
  }

  &.withBoxShadow {
    box-shadow: 2px 2px 16px $dark-green-10;
  }

  &.withMobilePadding {
    padding: 20px;
  }

  &.borderStyle_1 {
    @include respond-above(md) {
      border: 2px solid $dark-green-12;
      border-radius: 12px;
    }
  }

  &.borderStyle_2 {
    @include respond-above(md) {
      border: 2px solid $white-50;
      border-radius: 10px;
    }
  }

  &.borderStyle_3 {
    @include respond-above(md) {
      border: 2px solid $turquoise;
      border-radius: 12px;
    }
  }

  &.borderStyle_4 {
    border: 2px solid $background-gray;
    border-radius: 12px;
  }

  &.borderStyle_5 {
    @include respond-above(md) {
      @include transition(all, 200ms, ease-out, 0s);

      &:after {
        position: absolute;
        display: flex;
        content: "";
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background-color: $transparent-bg;
        border: solid 2px $dark-green-24;
        border-radius: 14px;
        opacity: 0;
        @include transition(all, 200ms, ease-out, 0s);
      }

      &:hover {
        border-color: $transparent-bg;
        background-color: $dark-green-06;

        &:after {
          opacity: 1;
          top: -6px;
          left: -6px;
          right: -6px;
          bottom: -6px;
        }
      }
    }
  }

  &.borderStyle_6 {
    border: 2px solid $dark-green-12;
    border-radius: 12px;
  }

  &.borderStyle_7 {
    border: 2px solid $turquoise;
    border-radius: 10px;
  }

  &.borderStyle_8 {
    border: 2px solid $error;
    border-radius: 10px;
  }

  &.borderStyle_9 {
    border: 2px solid $warning;
    border-radius: 10px;
  }
}
