@import "../../styles/Variables.module.scss";
@import "../../styles/Colors.module.scss";
@import "../../styles/mixins/mediaQuery.module.scss";
@import "../../styles/mixins/VendorPrefixes.module.scss";

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 90;
  flex-direction: column;
  justify-content: flex-end;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background-color: $dark-blue-40;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition(opacity, 300ms, ease-in-out, 0ms);
  }

  .container_card {
    display: flex;
    flex-direction: column;
    top: 100%;
    @include transition(all, 300ms, ease-in-out, 0ms);

    .container {
      flex: none;
      height: 100%;
      padding: 32px 18px;
      max-height: 71vh;
      border-radius: 0 $border-radius 0 0;

      .title_holder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: $fs-sm;
        font-family: $Saira-semibold;
        line-height: $lh-2lg;
        color: $dark-blue;
        align-items: center;

        @include respond-above(sm) {
          font-size: $fs-md;
          line-height: $lh-3sm;
          height: 32px;
        }
      }

      .close_icon {
        margin-left: 16px;
        width: 32px;
        height: 32px;
        padding: 6px;
        cursor: pointer;

        img {
          width: 100%;
          display: flex;

          &.icon_hover {
            display: none;
          }
        }

        &:hover {
          img {
            display: none;

            &.icon_hover {
              display: flex;
            }
          }
        }

        @include respond-above(sm) {
          width: 44px;
          height: 44px;
          padding: 12px;

          &:hover {
            border-radius: 10px;
            background-color: $dark-green-06;
          }
        }
      }

      .header_holder {
        display: flex;
        width: 100%;
        margin-top: 8px;
        align-items: center;
      }

      .body_holder {
        border-radius: 0;
        margin-top: 16px;
        width: 100%;
        max-height: 100%;
        flex: unset;

        @include respond-above(sm) {
          padding: 0;
          border-radius: 0;
        }
      }

      @include respond-above(sm) {
        padding: 26px 20px 20px;
        border-radius: 16px;
      }

      @include respond-between(sm, md, 2) {
        max-height: calc(100vh - 32px);
        margin: 0 16px;
      }
    }

    @include respond-above(sm) {
      top: 0;
      opacity: 0;
      max-height: 466px;
      max-width: 736px;
    }
  }

  &.show_modal {
    .backdrop {
      opacity: 1;
    }

    .container_card {
      top: 0;

      @include respond-above(sm) {
        opacity: 1;
      }
    }
  }

  &.small_max_width {
    .container_card {
      @include respond-above(sm) {
        max-width: 300px;
      }
    }
  }

  &.medium_max_width {
    .container_card {
      @include respond-above(sm) {
        max-width: 526px;
      }
    }
  }

  &.large_max_width {
    .container_card {
      @include respond-above(sm) {
        max-width: 660px;
        max-height: unset;
      }
    }
  }

  @include respond-above(sm) {
    align-items: center;
    justify-content: center;
  }
}
