@import "../../styles/Breakpoints.module.scss";
@import "../../styles/mixins/mediaQuery.module.scss";

.container {
  display: flex;
  flex-flow: column;
  justify-content: stretch;
  margin-left: 33px;
  margin-top: 16px;

  .row {
    display: flex;
    margin-top: 8px;

    @include respond-below(md) {
      padding-right: 16px;
    }
  }

  .button {
    display: flex;
    margin-right: auto;
    max-width: 250px;
    margin-top: 48px;
  }
}
