@import "../../styles/colors.module";
@import "../../styles/variables.module.scss";

.crayons_card {
    border-radius: 5px;
    background: $white;
    color: $black;
    box-shadow: 0 0 0 1 px;
    overflow-wrap: anywhere;
    border-top-color: #890606;
}

.branded {
    border-top: 1rem solid #890606;
}

.loading {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 0;
}

.tag_container {
    height: 63px;
    padding: 8px;
    margin-bottom: 20px;
}

.emotion_card {
    margin-bottom: 20px;
    .owner_container {
        display: flex;
        .img_owner {
            height: 60px;
            width: 60px;
            background-color: $dark-green;
            border-radius: 5px;
        }
        .owner_info {
            margin-left: 15px;
            padding-top: 10px;
            .ownerUsername {
                font-size: bold;
                font-family: $Saira-medium;
                font-size: 16px;
                margin-top: 10px;
                margin: 0;
            } 
        }
    }
    
    .emotion_container {
        margin-top: 25px;

        .tag {
            background: $dark-green;
            display: inline;
            padding: 0.1em 0.6em 0.1em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 4px;
            margin-left: 0.35em;
            cursor: pointer;
        }
        .tag:first-child(),
        .title + .tag {
            margin-left: 0;
        }

        a:hover {         
            text-decoration: none;
        }


        .title {
            font-size: 42px;
            font-family: $Saira-bold;
            font-weight: 900;  
            color: #000;    
        }
    }

    .loading {
        width: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding-left: 0;
    }
}
