@import "../../../../styles/Colors.module.scss";
@import "../../../../styles/Variables.module.scss";
@import "../../../../styles/mixins/mediaQuery.module.scss";
@import "../../../../styles/mixins/VendorPrefixes.module.scss"; 

/* Navbar */

.align_items_center{
  align-items: center !important;
}

.text_center {
  text-align: center !important;
}
.mr-0, .mx-0 {
  margin-right: 0 !important;
}
.d-none {
  display: none !important;
}
.d-lg-flex {
  display: flex !important;
}

.justify_content_end{
  justify-content: flex-end;
}

.navbar_toggler {
  border: 0;
  color: inherit;
  font-size: 1.25rem;
  padding: 0;
  border-radius: 0;
}


.mr_5,
.mx_5 {
  margin-right: 3rem !important;
}

.d_flex{
  display: flex !important;
}
.flex_row {
  flex-direction: row !important;
}

/* Animation Mixins */
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
    transform: translate3d(0, 0px, 0);
  }
}

.dropdownAnimation {
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  -ms-animation-duration: 0.25s;
  -o-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.align_self_stretch {
  align-self: stretch !important;
}

.align_items_stretch {
  align-items: stretch !important;
}

.navbar {
  font-weight: 400;
  transition:background $action-transition-duration $action-transition-timing-function;
  -webkit-transition:background $action-transition-duration $action-transition-timing-function;
  -moz-transition:background $action-transition-duration $action-transition-timing-function;
  -ms-transition:background $action-transition-duration $action-transition-timing-function;
  -webkit-box-shadow:0px 5px 21px -5px #CDD1E1;
  -moz-box-shadow: 0px 5px 21px -5px #CDD1E1;
  box-shadow:0px 5px 21px -5px #CDD1E1;
  .sidebar-dark & {
    box-shadow: none;
  }

  .navbar .navbar_menu_wrapper {
    background: #ffffff;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #6C7383;
    padding-right: 2.375rem;
    padding-left: 2.375rem;
    width: calc(100% - 235px);
    height: 60px;
  }

  .navbar_brand_wrapper {
    background: $white;
    .sidebar_dark & {
      background: $sidebar-dark-bg;
    }
    transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    width: $sidebar-width-lg;
    height: $navbar-height;
    .navbar_brand {
      color: #c8c8c8;
      font-size: 1.5rem;
      margin-right: 0;
      padding: .25rem 0;
      
      &.brand_logo_mini {
        display: none;
      }

      &:active,
      &:focus,
      &:hover {
        color: #c8c8c8;
      }

      img {
        // width: calc(#{$sidebar-width-lg} - 130px );
        max-width: 100%;
        height: 34px;
        margin: auto;
        vertical-align: middle;
      }
    }

    .brand_logo_mini {
      padding-left: 0;
      text-align: center;
      img {
        width: calc(#{$sidebar-width-icon} - 30px );
        max-width: 100%;
        margin: auto;
      }
    }
  }

  .navbar_menu_wrapper {
    background: $navbar-default-bg;
    transition: width $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function;
    color: $navbar-menu-color;
    padding-right: 2.375rem;
    padding-left: 2.375rem;
    width: calc(100% - #{$sidebar-width-lg});
    height: $navbar-height;
    @media (max-width: 991px) {
      width: calc(100% - 55px);
      padding-left: 15px;
      padding-right: 11px;
    }

    .navbar_toggler {
      border: 0;
      color: inherit;
      font-size: 1.25rem;
      padding: 0;
      border-radius: 0;
      &:not(.navbar_toggler_right) {
        @media (max-width: 991px) {
          display: none;
        }
        transform: rotate(0deg);
        @include transition_header(transform .3s linear);
        .sidebar-icon-only & {
          transform: rotate(180deg);
        }
      }
      &.navbar_toggler_right{
        @media (max-width:991px){
          padding-left: 15px;
          padding-right: 0;
        }
      }
      .sidebar_dark & {
        padding-left: 2.375rem;
      }
    }

    .navbar_nav {
      @extend .d_flex;
      @extend .flex_row;
      @extend .align_items_center;
      .nav_item {
        margin-left: 1rem;
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
        .nav_link {
          color: inherit;
          font-size: $navbar-font-size; 
        }
        &.nav_search {
          margin-left: 2rem;
          .input-group {
            border-radius: 4px;
            padding: .75rem;
            .form-control,
            .input-group-text {
              background: transparent;
              border: 0;
              color: $black;
              padding: 0;
            }
            .input-group-text {
              i {
                font-size: 1.25rem;
                color: $navbar-menu-color;
              }
            }
            .form-control {
              margin-left: .7rem;
              @include placeholder {
                color: #6c7383;
              }
            }
          }
        }
        &.nav_settings {
          @extend .align_self_stretch;
          @extend .align_items_center;
          margin: 0;
          .nav_link {
            padding: 0;
            text-align: center;
            height: 34px;
          }
          i {
            font-size: 1.25rem;
            vertical-align: middle;
          }
        }
        &.nav_profile {
          @extend .d_flex;
          @extend .align_items_center;
          margin-left: .2rem;
          img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
          }
          &.dropdown {
            .dropdown_toggle {
              &:after {
                display: none;
              }
            }
          }  
        }
        &.dropdown {
          .dropdown_menu {
            @extend .dropdownAnimation;        
            border: none;
            -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
          }
          .navbar_dropdown {
            position: absolute;            
            font-size: 0.9rem;
            margin-top: 0;
            right: 0;
            left: auto;
            top: 70px;
            .rtl & {
              right: auto;
              left: 0;
            }
            .dropdown_item {
              @extend .d_flex;
              @extend .align_items_center;
              margin-bottom: 0;
              padding: 0.687rem 1.562rem;
              cursor: pointer;
              i {
                font-size: 17px;
              }

              .badge {
                margin-left: 2.5rem;
              }
              .ellipsis {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .rtl & {
                i {
                  @extend .mr-0;
                  margin-left: 10px;
                }
                .badge {
                  margin-left: 0;
                  margin-right: 2.5rem;
                }
              }
            }

            .dropdown_divider {
              margin: 0;
            }
          }
          i {
            margin-right: .5rem;
            vertical-align: middle;
          }
          @media (max-width: 991px) {
            position: static;
            .navbar_dropdown {
              left: 20px;
              right: 20px;
              top: $navbar-height;
              width: calc(100% - 40px);
            }
          }
          .count-indicator {
            position: relative;
            padding: 0;
            text-align: center;
            i {
              font-size: 1.25rem;
              margin-right: 0;
              vertical-align: middle;
            }
            .count {
              position: absolute;
              left: 36%;
              width: 12px;
              height: 12px;
              border-radius: 100%;
              background: theme-color(primary);
              top: 1px;
              border: 1px solid $white;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &.navbar_nav_right {
        @extend .align_self_stretch;
        @extend .align_items_stretch;
        .nav_item {
          @extend .d_flex;
          @extend .align_items_center;
          &.nav_settings {
            @extend .d-none;
            @extend .d-lg-flex;
          }
        }
        @media (min-width: 992px) {
          margin-left: auto;
          .rtl & {
            margin-left: 0;
            margin-right: auto;
          }
        }
      }
    }
  }

  /* Navbar color variations */
  @each $color, $value in $theme-colors {
    &.navbar-#{$color} {
      .navbar_menu_wrapper {
        background: $value;
      }
      &:not(.navbar_light) {
        .navbar_menu_wrapper {
          .navbar_toggler {
            color: $white;
          }
          .nav_item {
            .nav_link {
              color: $white;
            }
            &.nav-search {
              .input-group {
                .form-control {
                  color: $white;
                  @include placeholder {
                    color: $white;
                  }
                }
                .input-group-text { 
                  i {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.navbar_light {
      .navbar_menu_wrapper {
        background: $white;
        border-left: 1px solid $border-color;
        .navbar_toggler {
          color: theme-color(dark);
        }
        .nav_item {
          .nav_link {
            color: theme-color(dark);
          }
          &.nav-search {
            .input-group {
              background: #c8c8c8;
            }
          }
        }
      }
    }
    &.navbar_dark {
      .navbar_menu_wrapper {
        border-left-color: darken($border-color, 50%);
      }
    }
    &.navbar_danger {
      .navbar_menu_wrapper {
        .nav_item {
          .nav_link {
            &.count-indicator {
              .count {
                background: theme-color(primary);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:991px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    .navbar_brand_wrapper {
      width: 55px;
      .navbar_brand {
        &.brand_logo {
          display: none;
        }
        &.brand_logo_mini {
          display: inline-block;
        }
      }
    }
  }

  .navbar_collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
  }
}

@media (max-width:480px) {
  .navbar {
    .navbar_brand_wrapper {
      width: 55px;
      .brand_logo_mini{
        padding-top: 0px;
      }
    }
  }
}